[mysql]
socket=LOGR_INSTALL_DIR/var/run/mysqld/mysql.sock

[mysqld]
datadir=LOGR_INSTALL_DIR/data/mysql
socket=LOGR_INSTALL_DIR/var/run/mysqld/mysql.sock
log-error=LOGR_INSTALL_DIR/var/log/mysqld/mysqld.log
pid-file=LOGR_INSTALL_DIR/var/run/mysqld/mysqld.pid
user=mysql
port=LOGR_DB_PORT
bind-address=LOGR_DB_HOST
symbolic-links=0

[mysqld_safe]
log-error=LOGR_INSTALL_DIR/var/log/mysqld/mysqld.log
pid-file=LOGR_INSTALL_DIR/var/run/mysqld/mysqld.pid
